@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Практическая работа №3</h1>
    <p class="lead">Присоединяйтесь к нам и начните регистрацию для доступа к нашим услугам.</p>
    <a href="/counter" class="btn btn-lg btn-purple">Начать регистрацию</a>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Светлый фон */
        font-family: 'Arial', sans-serif; /* Шрифт */
    }

    h1 {
        color: #5e4b8a; /* Цвет заголовка */
    }

    p.lead {
        color: #6c757d; /* Цвет текста */
    }

    .btn-purple {
        background-color: #6f42c1; /* Фон кнопки */
        border-color: #6f42c1; /* Цвет границы кнопки */
        transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
    }

        .btn-purple:hover {
            background-color: #5e4b8a; /* Цвет кнопки при наведении */
            border-color: #5e4b8a; /* Цвет границы кнопки при наведении */
        }

    .container {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
        padding: 40px; /* Отступы внутри контейнера */
        border-radius: 10px; /* Закругленные углы */
        background-color: #fff; /* Белый фон для контейнера */
    }
</style>