@page "/userchat/{recipientUserIdd}"
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.SignalR.Client
@using blaz3.Model
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
//<a href="#"></a>
<div class="chat-panel-container">
    <h3 class="chat-title">@ChatTitle</h3>

    <div class="chat-container">
        <div class="chat-messages">
            @foreach (var msg in messages)
            {
                <div class="chat-message">
                    <span class="message-user">@msg.SenderName:</span> @msg.Message
                    <span class="message-time">@msg.Timestamp.ToString("HH:mm:ss")</span>
                </div>
            }
        </div>

        <div class="input-group">
            <input type="text" @bind="message" class="form-control" placeholder="Ваше сообщение..." />
            <button @onclick="SendMessagePersonal" class="btn btn-send">✉</button>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Светлый фон */
        font-family: 'Arial', sans-serif; /* Шрифт */
    }

    .chat-panel-container {
        max-width: 500px; /* Максимальная ширина контейнера */
        margin: auto; /* Центрирование контейнера */
        padding: 30px; /* Отступы внутри контейнера */
        background-color: #ffffff; /* Белый фон для контейнера */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
        text-align: left;
    }

    .chat-title {
        color: #5e4b8a; /* Цвет заголовка */
        text-align: center; /* Центрирование заголовка */
        margin-bottom: 20px; /* Отступ снизу */
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .chat-messages {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 10px;
        padding-right: 10px;
        border: 1px solid #ced4da; /* Рамка окна сообщений */
        border-radius: 10px; /* Закругленные углы окна сообщений */
        background: linear-gradient(to top, #f1f3f5, #e3f2fd); /* Градиент для фона окна сообщений */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Тень для окна сообщений */
        padding: 15px; /* Отступы внутри окна сообщений */
    }

    .chat-message {
        margin: 10px 0;
        padding: 10px;
        border-radius: 8px;
        position: relative;
        transition: background-color 0.3s; /* Плавный переход */
    }

    .my-message {
        background-color: #e2d3f3; /* Цвет фона для сообщения пользователя (фиолетовый) */
        align-self: flex-end; /* Выравнивание сообщения пользователя вправо */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для сообщения пользователя */
    }

    .other-message {
        background-color: #d1c4e9; /* Цвет фона для сообщений других пользователей (светло-фиолетовый) */
        align-self: flex-start; /* Выравнивание сообщения других пользователей влево */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для сообщения других пользователей */
    }

    .message-user {
        color: #4a90e2; /* Цвет имени пользователя */
        font-weight: bold; /* Жирный шрифт */
    }

    .message-time {
        font-size: 0.7em;
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: #888; /* Цвет времени */
    }

    .input-group {
        display: flex;
        align-items: center;
        margin-top: 10px; /* Отступ сверху */
    }

    .form-control {
        border: 1px solid #ced4da; /* Цвет рамки для полей ввода */
        border-radius: 5px; /* Закругленные углы полей ввода */
        padding: 10px; /* Отступ внутри поля */
        flex: 1; /* Занимает оставшееся пространство */
        margin-right: 10px; /* Отступ справа */
    }

        .form-control:focus {
            border-color: #6f42c1; /* Цвет рамки при фокусе */
            box-shadow: 0 0 5px rgba(111, 66, 193, 0.5); /* Тень при фокусе */
        }

    .btn-send {
        background-color: #6f42c1; /* Фон кнопки */
        border: none; /* Убираем границу */
        border-radius: 5px; /* Закругленные углы кнопки */
        color: white; /* Цвет текста кнопки */
        padding: 10px 15px; /* Отступы внутри кнопки */
        transition: background-color 0.3s; /* Плавный переход */
        cursor: pointer; /* Указатель при наведении */
    }

        .btn-send:hover {
            background-color: #5e4b8a; /* Цвет кнопки при наведении */
        }

    .message-image {
        max-width: 20%; /* Максимальная ширина изображения */
        border-radius: 8px; /* Закругленные углы изображения */
        margin-top: 5px; /* Отступ сверху */
    }
</style>

@code {
    string message = "";
    string currentUserId = "";
    string senderName = "";
    [Parameter]
    public string recipientUserIdd { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "recipientName")]
    public string RecipientName { get; set; }

    HubConnection hubConnection;
    List<UserChat> messages = new List<UserChat>();

    private string ChatTitle { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl("http://localhost:5082/userChatHub").Build();

        hubConnection.On<string, string, string>("ReceiveMessage", (senderId, senderName, message) =>
        {
            Console.WriteLine($"Received message: {message} from {senderName}");
            UserChat newMessage = new UserChat
                {
                    SenderId = senderId,
                    SenderName = senderName,
                    RecipientId = recipientUserIdd,
                    Message = message,
                    Timestamp = DateTime.UtcNow
                };
            messages.Add(newMessage);
            InvokeAsync(StateHasChanged);
        });

        try
        {
            await hubConnection.StartAsync();
            await LoadMessages();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка подключения к хабу: {ex.Message}");
        }
    }

    private async Task LoadMessages()
    {
        try
        {
            messages = await Http.GetFromJsonAsync<List<UserChat>>($"api/UserChat/userchat/{recipientUserIdd}/{currentUserId}");
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Не удалось загрузить сообщения: {ex.Message}");
            messages = new List<UserChat>();
        }
        finally
        {
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUserId = await JS.InvokeAsync<string>("localStorage.getItem", "currentUserId");
            senderName = await JS.InvokeAsync<string>("localStorage.getItem", "currentUserName");

            // Проверка на совпадение ID для установки заголовка
            if (currentUserId == recipientUserIdd)
            {
                ChatTitle = "Избранное";
            }
            else
            {
                ChatTitle = $"Личные сообщения с {RecipientName}";
            }

            StateHasChanged();
        }
    }

    async Task SendMessagePersonal()
    {
        if (!string.IsNullOrWhiteSpace(message))
        {
            var newMessage = new UserChat
                {
                    SenderId = currentUserId,
                    SenderName = senderName,
                    RecipientId = recipientUserIdd,
                    Message = message,
                    Timestamp = DateTime.UtcNow
                };

            Console.WriteLine($"Sending message: {newMessage.Message} from {newMessage.SenderName} to {newMessage.RecipientId}");

            try
            {
                //  API для отправки сообщения в базу данных
                var response = await Http.PostAsJsonAsync("api/UserChat/send", newMessage);

                if (response.IsSuccessStatusCode)
                {
                    Console.WriteLine("Сообщение успешно отправлено через API.");

                    await hubConnection.SendAsync("SendMessage", newMessage.RecipientId, newMessage.SenderId, newMessage.SenderName, newMessage.Message);

                    messages.Add(newMessage);
                    InvokeAsync(StateHasChanged);
                }
                else
                {
                    Console.WriteLine($"Ошибка при отправке сообщения через API: {response.StatusCode}");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Исключение при отправке сообщения через API: {ex.Message}");
            }

            message = string.Empty; // Очистить поле ввода
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
