@page "/userpage"

<style>
    body {
        background-color: #f9f9f9;
        font-family: 'Arial', sans-serif;
    }

    .welcome-container {
        max-width: 600px;
        margin: auto;
        padding: 50px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h3 {
        color: #8b00ff;
        margin-bottom: 20px;
    }

    .welcome-message {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 30px;
    }

    .catalog-button {
        background-color: #8b00ff;
        border-color: #8b00ff;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        border: none; /* Убираем подчеркивание */
    }

        .catalog-button:hover {
            background-color: #007bff;
            border-color: #007bff;
        }

</style>

<div class="welcome-container">
    <h3>Добро пожаловать</h3>
    <p class="welcome-message">Мы рады видеть вас на нашей платформе. Здесь вы можете найти много интересного!</p>
    <NavLink href="/movies" class="catalog-button">Перейти в каталог</NavLink>
</div>

@code {

}

